<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" internalLogLevel="Info" internalLogFile="E:/logs/versioning/temp/internal-nlog.txt">

	<!-- Target for information logs -->
	<targets>
		<target xsi:type="File" name="logfile" fileName="D:/logs/versioning/info/${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
		
		<!-- Target for error logs -->
		<target xsi:type="File" name="logfileerror" fileName="D:/logs/versioning/error/${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />
	</targets>

	<rules>
		<!-- Remove the microsoft logs-->
		<logger name="Microsoft.*" maxlevel="off" final="true" />
		<!--<logger name="Microsoft.*" minlevel="Info" writeTo="blackHole" final="true" />-->

		<!-- Rule for information logs -->
		<logger name="*" levels="Info" writeTo="logfile" />

		<!-- Rule for error logs -->
		<logger name="*" levels="Error" writeTo="logfileerror" />

	</rules>

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
</nlog>
