<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<!-- Target for information logs -->
	<targets>
		<target xsi:type="File" name="logFile" fileName="D:/logs/info/logFile.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />

		<!-- Target for error logs -->
		<target xsi:type="File" name="logfileerror" fileName="D:/logs/error/errorFile.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />
	</targets>

	<rules>
		<!-- Rule for information logs -->
		<logger name="*" minlevel="Info" writeTo="logfile" />

		<!-- Rule for error logs -->
		<logger name="*" minlevel="Error" writeTo="logfileerror" />
	</rules>
</nlog>
