<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> My ASP.NET Application</title>

	<link rel="stylesheet" href=@Url.Content("~/assets/css/site.css") type="text/css" />
	<link rel="stylesheet" href=@Url.Content("~/assets/link/dataTables.css") type="text/css" />

</head>
<body>

	@if (User.Identity.IsAuthenticated)
	{
		<div class="navbar navbar-inverse navbar-fixed-top">
			@{
				await Html.RenderPartialAsync("_LeftMenu");
			}
		</div>
	}

	<div class="container body-content">
		@RenderBody()
	</div>

	<script src="@Url.Content("~/assets/link/jquery-3.6.0.min.js")"></script>
	<script src="@Url.Content("~/assets/link/dataTables.js")"></script>

	@RenderSection("scripts", required: false)

</body>
</html>