

<link rel="stylesheet" href=@Url.Content("~/assets/css/nav.css") type="text/css" />

<nav>
    <ul>
        <li><a href="project.html"><span>Project</span></a></li>
        <li><a href="bug.html"><span>Bug</span></a></li>
        <li><a href="feature.html"><span>Feature</span></a></li>
        <li><a href="environment.html"><span>Environment</span></a></li>
        <li><a href="version.html"><span>Version</span></a></li>
    </ul>
</nav>
<button class="sign-out-button" onclick="location.href='/login'">Sign Out</button>
