<link rel="stylesheet" href=@Url.Content("~/assets/css/edit.css") type="text/css" />

<body>
    <form class="login-form" action="javascript:void(0);">
        <h1>Edit </h1>
        <div class="form-input-material">
            <input type="text" name="name" id="name" placeholder=" " autocomplete="off" class="form-control-material" required />
            <label for="name">name</label>
        </div>
        <button type="submit" class="btn btn-primary btn-ghost">submit</button>
    </form>
</body>