@using VersionsCRUD.Project
@model ProjectGetResp
<link rel="stylesheet" href=@Url.Content("~/assets/css/site.css") type="text/css" />

<table id="example" class="display" >
	<thead>
		<tr>
			@* <th>username</th>
			<th>Position</th>
			<th>Office</th>
			<th>Extension</th>
			<th>Start date</th>
			<th>Salary</th> *@
			<th>Project Name</th>
			
		</tr>
	</thead>
	<tbody id="table-body">
		@{
			var tableData = Model.projects;
			 //ViewData["TableData"] as string[][];
			
		}
			@foreach (var project in Model.projects)
			{
			<tr>
				<td>@project.name</td>
			</tr>
			}
	</tbody>
		
	@* <tr>
		<button type="button" class="btn btn-primary btn-xs dt-edit" style="margin-right:16px;">
			<span class="bi bi pencil" aria-hidden="true"></span>
		</button> *@
		@* <button type="button" class="btn btn-danger btn-xs dt-delete">
			<span class="bi bi remove" aria-hidden="true"></span>
		</button> *@
	@* </tr> *@
	
</table>

<script src="@Url.Content("~/assets/js/Project/main.js")"></script>